<section class="section brd-btm">
	<div class="row">
		<div class="col-sm-12 clear-mrg text-box">
			<h2 class="title-lg text-upper">Summary</h2>
			<b>Hello, World. This is welcome message from Kelvin Chen!</b>
			<p>
				A passionate and results-oriented person with strong background in
				Mathematics and Statistics analytics, along with strong experiences in
				strategic alignment, business transformation, and opearation excellence.
				Capable of tackling challenge tasks, looking on turn data into meaningful
				and actionable insights and looking forward to the next challenge role.
			</p>
			<p class="text-right">
				<img
					width="30%"
					height="30%"
					src="images/My Logo/user_signature.jpg"
					alt="Kelvin Chen Signature"
				/><br />
				2020.09
			</p>
		</div>
	</div>
</section>
